#bgBody{
	background-image: url("../img/fondoBlanco.jpg"); 
	background-repeat: no-repeat;
	font-weight: bold;
}

.navbar-inverse .navbar-nav > li > a{
 	color: #0b0202;
 }    

#opinion{
	width: 100%;
	height: 100px;
	resize: none;
}
.jumbotron{
	background-color: rgba(124,41,23,0.4);
	color: white;
}

.textChat{
	color:orange;
	font-family: sans-serif;
	font-style: italic;
}

.imgLogo{
    width: 221px;
    height: 47px;
}

.bodyText{
	color: white;
}

.colorNaranja{
	background: orange;
}

.btn:hover {
    background-color: #f6921e;
    color:white;
}

.clasificacion {
  direction: rtl;
  unicode-bidi: bidi-override;
  float: left;
}

input[type="radio"] {
  display: none;
}

.labelStart {
	font-size: 28px;
 	color: grey;

}


.labelStart:hover,
.labelStart:hover ~ label {
  color: orange;
}


input[type="radio"]:checked ~ label {
  color: orange;
}


@media (max-width: 660px){
	#bgBody{
		background-image: url("../img/Fondo.png"); 
		background-repeat: no-repeat;
	}
	.imgChat{
		width: 60px;
		height: 60px;
	}
}